<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>info.surajsharma.LaunchBar.theme.BLACKBAR</string>
	<key>CFBundleName</key>
	<string>BLACKBAR</string>
	<key>LBThemeDescription</key>
	<string>A small, dark launchbar theme</string>
</dict>
</plist>
